.ContactList_letter_mobile {
  display: flex;
  flex-direction: column;
}
.ContactList_letter_mobile-header {
  background: var(--grey-100);
  padding: 5px 10px;
  text-transform: uppercase;
}
.ContactList_letter_mobile-contacts {
  display: flex;
  flex-direction: column;
}
