.ContactList_item {
  position: relative;
  display: flex;
  width: 50%;
  padding: 10px;
  margin-bottom: 0px;
  box-sizing: border-box;
}
.ContactList_item-text {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  border-bottom: 1px solid #aaa;
}
.ContactList_item-background {
  background: var(--blue);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.ContactList_item-background:hover {
  opacity: 0.1;
}
