.ContactList_contact_item {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 5px;
}
.ContactList_contact_item-topic {
  font-weight: 900;
  width: 90px;
  color: var(--blue);
}
