.ContactList_item_mobile {
  position: relative;
  padding: 10px;
  background: var(--white-100);
}
.ContactList_item_mobile-background {
  background: var(--blue);
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.ContactList_item_mobile-text {
  font-size: 12px;
}
.ContactList_item_mobile-background:hover {
  opacity: 0.1;
}
