.ContactList_avatar {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: var(--grey-100);
}
.ContactList_avatar-loader {
  background: var(--grey-200);
}
.ContactList_avatar-img {
  background-size: cover;
  background-position: center;
}
.ContactList_avatar-loader--show {
  animation-name: showLoaderAvatar;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.ContactList_avatar-loader--hide {
  animation-name: hideLoaderAvatar;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes showLoaderAvatar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideLoaderAvatar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
