.ContactList_main {
  position: relative;
  background: var(--white);
  height: var(--main-height);
  display: flex;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-top: none;
  box-shadow: var(--shadow);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
