.ContactList_list {
  position: absolute;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 10px;
  overflow-y: scroll;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .ContactList_list {
    flex-wrap: none;
  }
}
