.ContactList_status {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  color: var(--grey-700);
  will-change: transform;
  transition: transform 0.2s ease;
  transform: translateY(100%);
  opacity: 1;
}
.ContactList_status-text {
  font-size: 14px;
}
.status--expand {
  animation-name: statusExpandAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes statusExpandAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.status--collapse {
  animation-name: statusCollapseAnimation;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes statusCollapseAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
