.ContactList {
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  box-sizing: border-box;
}
.ContactList--ready {
  animation-name: contactListReady;
  animation-duration: 0.2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
@keyframes contactListReady {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .ContactList {
    width: 100vw;
    height: 100vh;
  }
}
