.ContactList_contact {
  display: flex;
  flex-direction: row;
  background: var(--white);
  padding: 30px 50px;
  opacity: 1;
  will-change: transform;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.ContactList_contact-left {
  display: flex;
}
.ContactList_contact-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 40px;
}
.ContactList_contact-name {
  font-size: 20px;
  color: var(--black);
  margin-bottom: 10px;
}
.ContactList_contact-list {
  list-style: none;
}

.ContactList_contact--mobile {
  transform: translateX(100%);
}
.ContactList_contact--desktop {
  transform: translateY(100%);
}
.ContactList_contact--expand {
  animation-name: expandContactAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.ContactList_contact--collapse {
  animation-name: collapseContactAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes expandContactAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes collapseContactAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@media screen and (max-width: 800px) {
  .ContactList_contact {
    flex-direction: column;
    padding: 20px 5px;
  }
  .ContactList_contact-left {
    justify-content: center;
    margin-bottom: 20px;
  }
  .ContactList_contact-right {
    align-items: center;
    padding: 0;
  }

  @keyframes expandContactAnimation {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes collapseContactAnimation {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}
