.ContactList_tab_trick {
  display: none;
}
.ContactList_tab {
  position: relative;
  flex: 1;
  overflow: hidden;
  background: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.ContactList_tab_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.ContactList_tab_counter {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 8px;
}
.ContactList_tab_active {
  background: var(--blue);
  transition: opacity 0.2s ease;
  z-index: 1;
}
.ContactList_tab_active--show {
  opacity: 0.5;
}
.ContactList_tab_active--hide {
  opacity: 0;
}
.ContactList_tab--disabled {
  opacity: 0.2;
}
.ContactList_tab--normal {
  opacity: 1;
  cursor: pointer;
}
