.ContactList_btnClose {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  pointer-events: auto;
  font-size: 14px;
  font-weight: 900;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.ContactList_btnClose-background {
  background: var(--blue);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.ContactList_btnClose-background:hover {
  opacity: 0.1;
}
@media screen and (max-width: 800px) {
  .ContactList_btnClose {
    top: 10px;
    left: 5px;
  }
}
