.ContactList_username {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 10px;
  background: var(--blue);
  color: var(--white);
  writing-mode: vertical-rl;
  font-size: 14px;
  font-weight: 900;
}
@media screen and (max-width: 800px) {
  .ContactList_username {
    display: none;
  }
}
