.absolute-element {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

:root {
  /* Pallete */
  --grey-100: #eaebec;
  --grey-200: #ccc;
  --grey-700: #888;
  --grey-900: #353535;
  --white: #fff;
  --white-100: #fafafa;
  --white-200: #f7f7f7;
  --blue: #3f9fff;
  --lightblue: #e7ebed;
  --black: #303132;
  --green: #1dce95;

  --font-dark: var(--black);
  --font-light: #727677;

  --border-radius: 10px;
  --shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);

  --header-height: 10%;
  --main-height: 90%;
  /* Color */

  /* Background */
  --body-background: var(--white-200);
  --box-background: var(--white);
  --contact-list-background: var(--white);

  /* Border */
  --border-color: var(--grey-200);

  --box-footer-border-color: var(--grey-900);
  --button-border-color: var(--blue);

  /* Box Shadow */
  --box-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);

  /* Font Size */
  --button-font-size: 14px;
  --transfer-status-font-size: 20px;
  --percentage-font-size: 40px;
  --percentage-sign-font-size: 14px;

  /* Font Weight */
  --button-font-weight: 900;
  --transfer-status-font-weight: 900;
  --percentage-font-weight: 500;
  --percentage-sign-font-weight: 900;

  /* Height */
  --app-height: 100vh;
  --box-height: 400px;
  --box-footer-height: 100px;
  --green-tick-height: 100%;

  /* Margin */
  --spinner-circle-margin: 0 0 0 0;
  --transfer-status-margin: 20px 0 5px 0;
  --info-margin: 0 0 0 0;

  /* Width */
  --app-width: 100vw;
  --box-width: 350px;
  --green-tick-width: 50%;

  /* Radius */
  --box-radius: 20px;
  --button-border-radius: 20px;

  /* Padding */
  --button-padding: 10px 20px;
  --info-padding: 0 75px;
}
